.board {
    display: table;
}

.row {
    display: table-row;
}

.square {
    display: table-cell;
    height: 32px;
    width: 32px;
    padding: 5px;
    background: linear-gradient(rgb(200, 224, 230), rgb(250, 240, 240));
    border-radius: 10px;
    box-shadow: 2px 2px 1px rgb(200, 200, 200);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    text-align: center;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: white;
    text-shadow: black;
    text-transform: uppercase;
    vertical-align: middle;
    line-height: 30px; 
    border: 2px solid rgba(0, 0, 0, 0);
}

.tw {
    background: linear-gradient(rgb(180, 127, 73), rgb(247, 175, 99));
}

.dw {
    background: linear-gradient(rgb(177, 93, 87), rgb(218, 115, 106));;
}

.tl {
    background: linear-gradient(rgb(121, 167, 100), rgb(151, 209, 125));;
}

.dl {
    background: linear-gradient(rgb(21, 90, 129), rgb(30, 130, 190));;
}

.selected-across {
    border-left: 2px solid black;
}
.selected-down {
    border-top: 2px solid black;
}

.demo {
    background: linear-gradient(rgb(255, 255, 0), rgb(200, 200, 0));
}

.occupied {
    background: linear-gradient(rgba(255, 174, 0, 0.582), rgba(255, 81, 0, 0.582));
}
